extends main.pug

block append head
    script(src='../js/customer.js')
block content
    script.
        var model = !{model};
        var localization = !{localizationJson};
    div(class="row gap-20 masonry pos-r" ng-controller="customerController")
        div(class="masonry-sizer col-md-12")
        div(class="masonry-item col-md-12")
            div(class="bgc-white p-20 bd")
                if operation == "add"
                    h6(class="c-grey-900") #{localization.newCustomer}
                else
                    h6(class="c-grey-900") #{localization.customer}
                div(class="mT-30")
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="customerName") #{localization.customerName} *
                            input(type="text" class="form-control" id="customerName" name="customerName" ng-model="model.customerName" ng-disabled=''+disabled )
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="responsiblePerson") #{localization.responsiblePerson}
                            input(type="text" class="form-control" id="responsiblePerson" name="responsiblePerson" ng-model="model.responsiblePerson" ng-disabled=''+disabled)
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="telephone") #{localization.telephone} 
                            br   
                            <i>(  (999)999-9999 | 999-999-9999 | 9999999999  )<i/>
                            input(type="text" class="form-control" id="telephone" name="telephone" ng-model="model.telephone" ng-disabled=''+disabled)
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="email") #{localization.email}   
                            br  
                            <i>(  xxxx@xxx.xxx  )<i/>
                            input(type="text" class="form-control" id="email" name="email" ng-model="model.email" ng-disabled=''+disabled)
                    div(class = "form-group" style="color:red;margin-top:35px;margin:0; padding:0; height:26px; ")
                        p(id="errMessage") !{message}
                    div(class = "form-group" style="color:green;margin-top:35px;margin:0; padding:0; height:26px; ")
                        p(id="message") !{message}
                    if (operation == "add" || operation == "edit")
                        button(type="submit" class="btn btn-success" style="margin-top:35px;" ng-click="save()" id="save") #{localization.save}
                    else if operation == "delete"
                        button(type="submit" class="btn btn-danger" style="margin-top:35px;" ng-click="save()" id="save") #{localization.delete}
                    div
                        a(href="../customerlist" type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goBack}
                    div
                        p(style="margin-top:35px;")
                            i * #{localization.requiredFields}
                        