html
    head
        block head
            meta(charset="utf-8" name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
            title #{localization.title}
            style.
                #loader{
                    transition:all .3s ease-in-out;
                    opacity:1;
                    visibility:visible;
                    position:fixed;
                    height:100vh;
                    width:100%;
                    background:#fff;
                    z-index:90000
                }
                #loader.fadeOut{
                    opacity:0;
                    visibility:hidden
                }
                .spinner{
                    width:40px;
                    height:40px;
                    position:absolute;
                    top:calc(50% - 20px);
                    left:calc(50% - 20px);
                    background-color:#333;
                    border-radius:100%;
                    -webkit-animation:sk-scaleout 1s infinite ease-in-out;
                    animation:sk-scaleout 1s infinite ease-in-out
                }@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}
                @keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}
            link(rel="stylesheet" href="../css/style.css")
            link(rel="stylesheet" href="../css/main.css")
            link(rel="stylesheet" href="../css/datatables.css")
            link(rel="stylesheet" href="../css/datatables-select.css")
            link(rel="stylesheet" href="../css/bootstrap-select.min.css")
            link(rel="stylesheet" href="../flag-icon-css/css/flag-icon.min.css")
            link(rel="stylesheet" href="../css/dataTables.editor.css")
            script(src='../jquery/dist/jquery.min.js')
            script(src='../popper.js/dist/umd/popper.min.js')
            script(src='../popper.js/dist/umd/popper-utils.min.js')
            script(src='../bootstrap/js/bootstrap.min.js')
            script(src='../bootstrap-select/dist/js/bootstrap-select.min.js')
            script(src='../js/datatables.min.js')
            script(src="../js/angular.min.js")
            script(src='../js/main.js')
            script(src='../js/datatables-select.js')
            script(src='../js/dataTables.editor.min.js')
            //- script(src='../js/jquery-ui.js')
    body(class="app")
        div(id="loader")
            div(class="spinner")
        script.
            window.addEventListener('load',() => {
                const loader = document.getElementById('loader');
                setTimeout(() => {
                    loader.classList.add('fadeOut');
                });
            });
        div
            div(class="sidebar")
                div(class="sidebar-inner")
                    div(class="sidebar-logo")
                        div(class="peers ai-c fxw-nw")
                            div(class="peer peer-greed")
                                a(class="sidebar-link td-n" href="/welcome")
                                    div(class="peers ai-c fxw-nw")
                                        div(class="peer")
                                            div(class="logo")
                                                img(src="../images/icon3.png" alt="")
                                        div(class="peer peer-greed")
                                            h5(class="lh-1 mB-0 logo-text") SENTESBIR
                            div(class="peer")
                                div(class="mobile-toggle sidebar-toggle")
                                    a(href="" class="td-n")
                                        i(class="ti-arrow-circle-left")
                    ul(class="sidebar-menu scrollable pos-r")
                        div(style="height:30px;")
                        if isAdmin
                            li(class="nav-item dropdown")
                                a(class="dropdown-toggle" href="javascript:void(0);")
                                    span(class="icon-holder")
                                        i(class="c-blue-500 ti-home")
                                    span(class="title") #{localization.adminMenu}
                                    span(class="arrow" style="padding-top:8px;")
                                        i(class="ti-angle-right")
                                ul(class="dropdown-menu")
                                    li
                                        a(class="sidebar-link" href="../qaallusers") #{localization.users}
                        if isChef
                            li(class="nav-item dropdown")
                                a(class="dropdown-toggle" href="javascript:void(0);")
                                    span(class="icon-holder")
                                        i(class="c-orange-500 ti-layout-list-thumb")
                                    span(class="title") #{localization.chefMenu}
                                    span(class="arrow" style="padding-top:8px;")
                                        i(class="ti-angle-right")
                                ul(class="dropdown-menu")
                                    li(class="nav-item dropdown")
                                        a(href="javascript:void(0);")
                                            span #{localization.definitions}
                                            span(class="arrow" style="padding-top:7px;")
                                                i(class="ti-angle-right")
                                        ul(class="dropdown-menu")
                                            //- li
                                            //-     a(href="../qaanalysistype") #{localization.analysisType}
                                            //- li
                                            //-     a(href="../qaunittype") #{localization.unitType}
                                            //- li
                                            //-     a(href="../qaanalysisstandart") #{localization.standart}
                                            li
                                                a(href="../qaallmaterials") #{localization.material}
                                            li
                                                a(href="../qaallanalysisheaders") #{localization.alloy}
                                //- ul(class="dropdown-menu")
                                //-     li(class="nav-item dropdown")
                                //-         a(href="javascript:void(0);")
                                //-             span #{localization.analyses}
                                //-             span(class="arrow" style="padding-top:7px;")
                                //-                 i(class="ti-angle-right")
                                //-         ul(class="dropdown-menu")
                                //-             li
                                //-                 a(href="../qaallanalysisheaders") #{localization.analyses}
                                ul(class="dropdown-menu")
                                    li(class="nav-item dropdown")
                                        a(href="javascript:void(0);")
                                            span #{localization.measurementRequest}
                                            span(class="arrow" style="padding-top:7px;")
                                                i(class="ti-angle-right")
                                        ul(class="dropdown-menu")
                                            li
                                                a(href="../qaallqualityfollowup") #{localization.spectralAnalysis}
                                        //- ul(class="dropdown-menu")
                                        //-     li
                                        //-         a(href="../qaallcorrections") #{localization.correction}
                                        //- ul(class="dropdown-menu")
                                        //-     li
                                        //-         a(href="../qaallcorrectionsarchive") #{localization.archivedCorrections}
                                //- ul(class="dropdown-menu")
                                //-     li(class="nav-item dropdown")
                                //-         a(href="javascript:void(0);")
                                //-             span #{localization.reports}
                                //-             span(class="arrow" style="padding-top:7px;")
                                //-                 i(class="ti-angle-right")
                                //-         ul(class="dropdown-menu")
                                //-             li
                                //-                 a(href="../qacreatereport") #{localization.createReport}
                                //-         ul(class="dropdown-menu")
                                //-             li
                                //-                 a(href="../qaprintreport") #{localization.printReport}
                                //-         ul(class="dropdown-menu")
                                //-             li
                                //-                 a(href="../qaprintreportarchive") #{localization.archivedReports}
                        if isOperator
                            li(class="nav-item dropdown")
                                a(class="dropdown-toggle" href="javascript:void(0);")
                                    span(class="icon-holder")
                                        i(class="c-indigo-500 ti-bar-chart")
                                    span(class="t    itle") #{localization.operatorMenu}
                                    span(class="arrow" style="padding-top:8px;")
                                        i(class="ti-angle-right")
                                ul(class="dropdown-menu")
                                    li(class="nav-item dropdown")
                                        a(href="javascript:void(0);")
                                            span #{localization.requests}
                                            span(class="arrow" style="padding-top:7px;")
                                                i(class="ti-angle-right")
                                        ul(class="dropdown-menu")
                                            li
                                                a(class="sidebar-link" href="../qaassignedtome") #{localization.spectralAnalysis}
                                        ul(class="dropdown-menu")
                                            li
                                                a(class="sidebar-link" href="../qacorrections") #{localization.correction}
                                //- ul(class="dropdown-menu")
                                //-     li
                                //-         a(class="sidebar-link" href="../qaunassigned") #{localization.unassigned}
            div(class="page-container")
                div(class="header navbar")
                    div(class="header-container")
                        ul(class="nav-left")
                            li
                                a(id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);" style="padding-top:20px;")
                                    i(class="ti-menu")
                        ul(class="nav-right")
                            li(class="dropdown")
                                a(href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown")
                                    div(class="peer mR-10")
                                        img(class="w-2r bdrs-50p" src="../images/user.jpg" alt="")
                                    div(class="peer")
                                        span(class="fsz-sm c-grey-900") #{userName} #{userSurname}
                                ul(class="dropdown-menu fsz-sm")
                                    li
                                        a(href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" onclick="logout();")
                                            i(class="ti-power-off mR-10")
                                            span #{localization.logout}
                main(class="main-content bgc-grey-100")
                    div(id="mainContent" ng-app="qaApp")
                        block content
                footer(class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600")
                    span SENTESBIR
        script(type="text/javascript" src="../js/vendor.js")
        script(type="text/javascript" src="../js/bundle.js")