html
    head
        meta(charset="utf-8" name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        title #{localization.title}
        link(rel="stylesheet" href="../css/style.css")
    body(class="app")
        div(class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30")
            div(class="mR-60")
                img(alt="#" src="../images/404.png")
            div(class="d-f jc-c fxd-c")
                h1(class="mB-30 fw-900 lh-1 c-red-500" style="font-size:60px") 404
                h3(class="mB-10 fsz-lg c-grey-900 tt-c") #{localization.pageNotFound}
                p(lass="mB-30 fsz-def c-grey-700" style="font-size:16px;") #{localization.pageDoesNotExists}
                div
                    a(href="../welcome" type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goHome}
        script(type="text/javascript" src="../js/vendor.js")
        script(type="text/javascript" src="../js/bundle.js")