extends main.pug

block append head
    script(src='../js/qaanalysisheaderoperation.js')

block content
    div(id = "mainForm" class="row gap-20 masonry pos-r" ng-controller="qaAnalysisHeaderOperationCtrl")
        div(class="masonry-sizer col-md-12")
        div(class="masonry-item col-md-12")
            div(class="bgc-white p-20 bd")
                if operation == "add" && !success 
                    h6(class="c-grey-900") #{localization.newAnalysisHeader}
                else
                    h6(class="c-grey-900") #{localization.analysisHeader}
                div(class="mT-30")
                    form(method="post" action=".." + originalUrl)
                        div(class="form-row")
                            div(class="form-group col-md-6")
                                label(for="name") #{localization.productId}
                                if isDisabled
                                    if formData && formData.name
                                        input(type="text" class="form-control" id="name" name="name" disabled value=formData.name) 
                                    else
                                        input(type="text" class="form-control" id="name" name="name" disabled)
                                else
                                    if formData && formData.name
                                        input(type="text" class="form-control" id="name" name="name" value=formData.name)
                                    else
                                        input(type="text" class="form-control" id="name" name="name")
                        div(class="form-row")
                            div(class="form-group col-md-6")
                                label(for="type") #{localization.analysisType} 
                                if isDisabled
                                    select(id="type" name="type" class="form-control" disabled)
                                        option(value="") #{localization.choose}
                                        each val in types
                                            if formData && formData.type && formData.type == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                                else
                                    select(id="type" name="type" class="form-control")
                                        option(value="") #{localization.choose}
                                        each val in types
                                            if formData && formData.type && formData.type == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                        div(class="form-row")
                            div(class="form-group col-md-6")
                                label(for="standart") #{localization.standart} 
                                if isDisabled
                                    select(id="standart" name="standart" class="form-control" disabled)
                                        option(value="") #{localization.choose}
                                        each val in standarts
                                            if formData && formData.standart && formData.standart == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                                else
                                    select(id="standart" name="standart" class="form-control")
                                        option(value="") #{localization.choose}
                                        each val in standarts
                                            if formData && formData.standart && formData.standart == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                        if message && success == 1
                            div(class = "form-group" style="color:green;margin-top:35px;")
                                p !{message}
                        if message && success == 0
                            div(class = "form-group" style="color:red;margin-top:35px;")
                                p !{message}
                        if actionButton && (operation == "add" || operation == "edit")
                            button(type="button" id="save" class="btn btn-success" style="margin-top:35px;") #{localization.save}
                        else if actionButton && operation == "delete"
                            button(type="button" id="delete" class="btn btn-danger" style="margin-top:35px;") #{localization.delete}
                        div
                            a(href="../qaallanalysisheaders" type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goBack}