extends main.pug

block append head
    script(src='../js/qaeditassinged.js')
block content
    div(class="bgc-white bd bdrs-3 p-20 mB-20")
        h4 #{localization.followup}
        hr(class="divider")
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productId} : #{qfu.name}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.partyno} : #{qfu.partyno}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionDate} : #{qfu.partydate}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionAmount} : #{qfu.amount}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.sender} : #{qfu.sender}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.explanation} : #{qfu.explanation}
        h4 #{localization.enteredResults}
        hr(class="divider")
        a(href="../qaeditmasteralloyresult?id=" + id + "&operation=add")
            button(type="button" class="btn btn-success btn-sm" style="font-size:14px !important; margin-bottom:15px;")
                span(class="icon-holder")
                    i(class="c-white-500 ti-plus")
                    span(class="title" style="margin:14px") #{localization.addNewMasterAlloyResult}
        table(id="tableMaster" class="table table-hover table-bordered" cellspacing="0" width="100%")
            thead
                tr
                    th #{localization.results}
                    th(style="max-width: 225px !important")

        a(href="../qaeditresult?id=" + id + "&operation=add")
            button(type="button" class="btn btn-success btn-sm" style="font-size:14px !important; margin-bottom:15px;")
                span(class="icon-holder")
                    i(class="c-white-500 ti-plus")
                    span(class="title" style="margin:14px") #{localization.addNewAnalysisResult}
        table(id="tableEdit" class="table table-hover table-bordered" cellspacing="0" width="100%")
            thead
                tr
                    th #{localization.results}
                    th(style="max-width: 225px !important")
        hr(class="divider")
        button(type="button" id="save" class="btn btn-success" style="margin-top:10px;") #{localization.endFollowup}
        if message
            div(class = "form-group" style="color:red;margin-top:35px;")
                p !{message}
    script.
        var localization = '#{localizationVal}';
        if(localization == 'tr'){
            $(document).ready(function() {
                $('#tableMaster').DataTable( {
                    "language": {
                        "sDecimal":        ",",
                        "sEmptyTable":     "Tabloda herhangi bir veri mevcut değil",
                        "sInfo":           "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                        "sInfoEmpty":      "Kayıt yok",
                        "sInfoFiltered":   "(_MAX_ kayıt içerisinden bulunan)",
                        "sInfoPostFix":    "",
                        "sInfoThousands":  ".",
                        "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
                        "sLoadingRecords": "Yükleniyor...",
                        "sProcessing":     "İşleniyor...",
                        "sSearch":         "Ara:",
                        "sZeroRecords":    "Eşleşen kayıt bulunamadı",
                        "oPaginate": {
                            "sFirst":    "İlk",
                            "sLast":     "Son",
                            "sNext":     "Sonraki",
                            "sPrevious": "Önceki"
                        },
                        "oAria": {
                            "sSortAscending":  ": artan sütun sıralamasını aktifleştir",
                            "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                        }
                    },
                    "processing": true,
                    "serverSide": true,
                    "searching": false,
                    "ajax": {
                        "url" : "../qaeditmasteralloytable",
                        "data": function ( d ) {
                            d.followupId = getParameterByName("id");
                        }
                    }
                });
            });
        }else{
            $('#tableMaster').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ajax": {
                        "url" : "../qaeditmasteralloytable",
                        "data": function ( d ) {
                            d.followupId = getParameterByName("id");
                        }
                    }
            });
        }

    script.
        var localization = '#{localizationVal}';
        if(localization == 'tr'){
            $(document).ready(function() {
                $('#tableEdit').DataTable( {
                    "language": {
                        "sDecimal":        ",",
                        "sEmptyTable":     "Tabloda herhangi bir veri mevcut değil",
                        "sInfo":           "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                        "sInfoEmpty":      "Kayıt yok",
                        "sInfoFiltered":   "(_MAX_ kayıt içerisinden bulunan)",
                        "sInfoPostFix":    "",
                        "sInfoThousands":  ".",
                        "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
                        "sLoadingRecords": "Yükleniyor...",
                        "sProcessing":     "İşleniyor...",
                        "sSearch":         "Ara:",
                        "sZeroRecords":    "Eşleşen kayıt bulunamadı",
                        "oPaginate": {
                            "sFirst":    "İlk",
                            "sLast":     "Son",
                            "sNext":     "Sonraki",
                            "sPrevious": "Önceki"
                        },
                        "oAria": {
                            "sSortAscending":  ": artan sütun sıralamasını aktifleştir",
                            "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                        }
                    },
                    "processing": true,
                    "serverSide": true,
                    "searching": false,
                    "ajax": {
                        "url" : "../qaedittable",
                        "data": function ( d ) {
                            d.followupId = getParameterByName("id");
                        }
                    }
                });
            });
        }else{
            $('#tableEdit').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ajax": {
                        "url" : "../qaedittable",
                        "data": function ( d ) {
                            d.followupId = getParameterByName("id");
                        }
                    }
            });
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
