extends main.pug

block append head
    script(src='../js/qaeditmasteralloyresult.js')
block content
    script.
        var fields = !{fields};
    div(class="bgc-white bd bdrs-3 p-20 mB-20")
        h4 #{localization.followup}
        hr(class="divider")
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productId} : #{qfu.name}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.partyno} : #{qfu.partyno}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionDate} : #{qfu.partydate}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionAmount} : #{qfu.amount}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.sender} : #{qfu.sender}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.explanation} : #{qfu.explanation}
        h4 #{localization.masterAlloyResult}
        hr(class="divider")
        - var i = 1;
        each val in field         
            div(class="form-group col-md-6")
                label #{val.materialname} (#{val.min} - #{val.max} #{val.unitshort}) (#{val.master_alloy} #{val.unitshort})
                if isDisabled
                    if val.value
                        input(type="number" class="form-control" id="field"+i name="field"+i onchange="numericOnChange(this)" value=val.value disabled)
                    else
                        input(type="number" class="form-control" id="field"+i name="field"+i onchange="numericOnChange(this)" disabled)
                else
                    if val.value
                        input(type="number" class="form-control" id="field"+i name="field"+i onchange="numericOnChange(this)" value=val.value)
                    else
                        input(type="number" class="form-control" id="field"+i name="field"+i onchange="numericOnChange(this)")
            - i++;
        if message && success == 1
            div(class = "form-group" style="color:green;margin-top:35px;")
                p !{message}
        if message && success == 0
            div(class = "form-group" style="color:red;margin-top:35px;")
                p !{message}
        if actionButton && (operation == "add" || operation == "edit")
            button(type="button" id="save" class="btn btn-success" style="margin-top:35px;") #{localization.save}
        else if actionButton && operation == "delete"
            button(type="button" id="delete" class="btn btn-danger" style="margin-top:35px;") #{localization.delete}
        div
            a(href="../qaeditassigned?id=" + id type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goBack}