extends main.pug

block append head
    script(src='../js/qaeditresult.js')
block content
    script.
        var fields = !{fields};
    div(class="bgc-white bd bdrs-3 p-20 mB-20")
        h4 #{localization.analysisResult}
        hr(class="divider")
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productId} : #{qfu.name}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.partyno} : #{qfu.partyno}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionDate} : #{qfu.partydate}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.productionAmount} : #{qfu.amount}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.sender} : #{qfu.sender}
        div(class="form-row")
            div(class="form-group col-md-6")
                label #{localization.explanation} : #{qfu.explanation}
        each val in field
                div(class="form-group col-md-6")
                    label #{val.materialname} (#{val.max} - #{val.min} #{val.unitshort}) (#{val.master_alloy} #{val.unitshort})
                    input(type="number" class="form-control" id="field"+val.materialid name="field"+val.materialid)
        div
            a(href="../qaeditassigned?id=" + id type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goBack}