extends main.pug

block append head
    script(src='../js/qamaterialoperation.js')

block content
    div(id = "mainForm" class="row gap-20 masonry pos-r" ng-controller="qaMaterialOperationCtrl")
        div(class="masonry-sizer col-md-12")
        div(class="masonry-item col-md-12")
            div(class="bgc-white p-20 bd")
                if operation == "add" && !success 
                    h6(class="c-grey-900") #{localization.newMaterial}
                else
                    h6(class="c-grey-900") #{localization.material}
                div(class="mT-30")
                    form(method="post" action=".." + originalUrl)
                        div(class="form-row")
                            div(class="form-group col-md-6")
                                label(for="name") #{localization.name}
                                if isDisabled
                                    if formData && formData.name
                                        input(type="text" class="form-control" id="name" name="name" disabled value=formData.name) 
                                    else
                                        input(type="text" class="form-control" id="name" name="name" disabled)
                                else
                                    if formData && formData.name
                                        input(type="text" class="form-control" id="name" name="name" value=formData.name)
                                    else
                                        input(type="text" class="form-control" id="name" name="name")
                        div(class="form-row")
                            div(class="form-group col-md-6")
                                label(for="standart") #{localization.unitType} 
                                if isDisabled
                                    select(id="unittype" name="unittype" class="form-control" disabled)
                                        option(value="") #{localization.choose}
                                        each val in unitTypes
                                            if formData && formData.unittype && formData.unittype == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                                else
                                    select(id="unittype" name="unittype" class="form-control")
                                        option(value="") #{localization.choose}
                                        each val in unitTypes
                                            if formData && formData.unittype && formData.unittype == val.id
                                                option(value=val.id selected) #{val.name}
                                            else
                                                option(value=val.id) #{val.name}
                        div(class="checkbox checkbox-circle checkbox-info peers ai-c mB-15" style="margin-top:20px;")
                            if isDisabled
                                if formData && formData.isMultiple && formData.isMultiple == true
                                    input(type="checkbox" id="isMultiple" name="isMultiple" class="peer" disabled checked)
                                else
                                    input(type="checkbox" id="isMultiple" name="isMultiple" class="peer" disabled)
                            else
                                if formData && formData.isMultiple && formData.isMultiple == true
                                    input(type="checkbox" id="isMultiple" name="isMultiple" class="peer" checked)
                                else
                                    input(type="checkbox" id="isMultiple" name="isMultiple" class="peer")
                            label(for="isMultiple" class="peers peer-greed js-sb ai-c")
                                span(class="peer peer-greed") #{localization.isMultiple}
                        if message && success == 1
                            div(class = "form-group" style="color:green;margin-top:35px;")
                                p !{message}
                        if message && success == 0
                            div(class = "form-group" style="color:red;margin-top:35px;")
                                p !{message}
                        if actionButton && (operation == "add" || operation == "edit")
                            button(type="button" id="save" class="btn btn-success" style="margin-top:35px;") #{localization.save}
                        else if actionButton && operation == "delete"
                            button(type="button" id="delete" class="btn btn-danger" style="margin-top:35px;") #{localization.delete}
                        div
                            a(href="../qaallmaterials" type="primary" class="btn btn-primary" style="margin-top:14px;") #{localization.goBack}