extends main.pug

block content
    div(class="masonry-item col-md-12")
        div(class="bgc-white p-20 bd")
            h1 #{localization.aboutUsTitle}
            h4  #{localization.aboutUsWhatWeAreAbout}
            p #{localization.aboutUsWhatWeAreAboutText}
            h4 #{localization.aboutUsWhatWeDo}
            p #{localization.aboutUsWhatWeDoText}
